<div class="d-flex p-2 fixed-top" style="background: white">
    <div class="col-5"><a class="brand-logo">
        <img alt="logo" src="./assets/media/logos/logo-dark.png" style="width : 190px;"/>
    </a></div>
    <div class="col-6 ml-5">
        <h2 class="mt-5">HỆ THỐNG SEASURVEY</h2>
    </div>
    <div><span class="col-1 symbol symbol-35 symbol-light-dark d-flex " style="margin-top: 1.8rem">
        <div>
            <mat-icon>account_circle</mat-icon>
        </div>
        <p >
             admin
        </p>
    </span></div>
</div>
