<!--<app-header></app-header>-->
<!--<mat-tab-group class="builder-tabs" mat-align-tabs="start" [(selectedIndex)]="selectedIndex"-->
<!--               (selectedTabChange)="tabClick($event)">-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label style="background: white" >-->
<!--            <div (click)="changePage()">-->
<!--                <mat-icon >settings</mat-icon>-->
<!--                Cấu hình-->
<!--            </div>-->
<!--        </ng-template>-->
<!--        Cấu hình survey-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            <mat-icon>view_list</mat-icon>-->
<!--            Câu hỏi-->
<!--        </ng-template>-->
<!--        <div class="builder-form">-->
<!--            <ngx-survey-form-builder [form]="form" (changes)="onChange($event)">-->
<!--            </ngx-survey-form-builder>-->
<!--        </div>-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            <mat-icon>pageview</mat-icon>-->
<!--            Xem trước-->
<!--        </ng-template>-->
<!--        <div class="builder-form">-->
<!--            <app-form-review #survey [form]="form" [(value)]="model" (submit)="onFormSubmit($event)">-->
<!--            </app-form-review>-->
<!--            <button mat-raised-button color="primary" class="submit-button" (click)="survey.submitForm()">Submit-->
<!--            </button>-->
<!--            <button type="button" class="submit-button" (click)="mapper()">Mapper</button>-->
<!--            <button type="button" class="submit-button" (click)="saveProject()">SAVE</button>-->
<!--        </div>-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            <mat-icon>developer_mode</mat-icon>-->
<!--            JSON-->
<!--        </ng-template>-->
<!--        <div class="builder-form">-->
<!--            <pre>{{ model | json }}</pre>-->
<!--        </div>-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            <p class="mr-5 mt-1">-->
<!--                Thêm mới survey-->
<!--            </p>-->
<!--            <mat-icon>chevron_right</mat-icon>-->
<!--        </ng-template>-->
<!--        <div class="ml-5 mr-5">-->
<!--            <app-create-survey></app-create-survey>-->
<!--        </div>-->
<!--        <div style="height: 3rem">-->

<!--        </div>-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            <p class="mr-5 mt-1">-->
<!--                Quản lý survey-->
<!--            </p>-->
<!--            <mat-icon>chevron_right</mat-icon>-->
<!--        </ng-template>-->
<!--        <div class="mt-1 ml-5 mr-5">-->
<!--            <app-management-survey></app-management-survey>-->
<!--        </div>-->
<!--        <div style="height: 3rem">-->

<!--        </div>-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            <p class="mr-5 mt-1">-->
<!--                Báo cáo survey-->
<!--            </p>-->
<!--            <mat-icon>chevron_right</mat-icon>-->
<!--        </ng-template>-->
<!--        <div class="mt-1 ml-5 mr-5">-->
<!--            <app-report-survey></app-report-survey>-->
<!--        </div>-->
<!--        <div style="height: 3rem">-->

<!--        </div>-->
<!--    </mat-tab>-->
<!--</mat-tab-group>-->

